{% extends "main.html" %}

{% block header%}{% endblock%}

{% block content%}
<div class = "submitBook">
		<h1>Please enter the following information:</h1>
		<form method="post" action="/addLink" id="submitLink">
			Department Code: <br>
			<input type="text" name="dept" placeholder="eg. CIS"><br>
			Course ID: <br>
			<input type="text" name="id" placeholder="eg. 110"><br>
			Name of Textbook: <br>
			<input type="text" name="tb_name" placeholder="eg. Algorithms by Sedgewick & Wayne"><br>
			Link: <br>
			<input type="text" name="tb_link" placeholder="eg. http://illegal.com/algorithms"><br><br>
			<input type="submit">
		</form>
	</div>
{% endblock %}
