{% extends "main.html" %}

{% block head%}
<div class = "header">
<h1>Textbook Finder!</h1>
<a href="/explore">Take me to a random page.</a>
</div>
{% endblock %}


{% block content%}
<div class = "courseInfo">
	<br><br>
	Search:<form method="post" action="/search" id="searchBar"><input type="text" name="query" placeholder="search for a course number"><br><input type="submit">
	</form>
	{% for dept, course in all_courses.iteritems() %}
		<a href="/course/{{dept}}"><h1>{{ dept }}</h1></a>
		{% for course_id in course %}
			<li><a href="/course/{{dept}}/{{course_id}}">{{ course_id }}</a></li>
		{% endfor %}
	{% endfor %}
	<br><br>
</div>

<div class = "clickHere">
	<h4>Want to post a link to a textbook? Click <a href ="/add">here</a></h4>
	<h4>Click <a href="/report">here</a> to report a link as broken.</h4>
</div>
{% endblock %}
